body{
    background-color: #EEEEEE;
}
h1{
    margin: 0px;
}
#table1,th,td{
    background-color: lightblue;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
	border: 1px solid black;
	border-collapse: collapse;
	
}
#imagine{
    border: 2px solid black;
	border-radius: 12px;
    width: 780px;
    display: block;
    padding: 2px;
    margin: auto;
    opacity: 1.0;
}
